@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Bootstrap 实例 - 图像</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/content/css/bootstrap.min.css" rel="stylesheet">
    <script src="/content/js/jquery-1.10.1.min.js"></script>
    <script src="/content/js/bootstrap.min.js"></script>
</head>
<body>

    <img src="http://c.hiphotos.baidu.com/zhidao/wh%3D600%2C800/sign=caf90523013b5bb5be8228f806e3f901/b21c8701a18b87d6c5b2af97050828381e30fd42.jpg"
         class="img-rounded">
    <img src="/Public/CheckImg"
         class="img-circle">
    <img src="/Public/CheckImg"
         class="img-thumbnail">

</body>
</html>