<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqModel.Properties.Settings.ZY_ZhuiSuConnectionString"
            connectionString="Data Source=192.168.1.108;Initial Catalog=ZY_ZhuiSu;Persist Security Info=True;User ID=sa;Password=lbs~123;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ZY_ZhuiSuConnectionString1"
            connectionString="Data Source=tcp:mgdj8tjei6.database.chinacloudapi.cn,1433;Initial Catalog=ZY_ZhuiSu;User ID=zhiyun@mgdj8tjei6"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ZY_ZhuiSuConnectionString2"
            connectionString="Data Source=192.168.1.108;Initial Catalog=ZY_ZhuiSu;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ZY_ZhuiSuConnectionString3"
            connectionString="Data Source=tcp:mgdj8tjei6.database.chinacloudapi.cn,1433;Initial Catalog=ZY_ZhuiSu;Persist Security Info=True;User ID=zhiyun@mgdj8tjei6"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ZY_ZhuiSuConnectionString4"
            connectionString="Data Source=127.0.0.1;Initial Catalog=ZY_ZhuiSu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ZhuiSu_SingleConnectionString"
            connectionString="Data Source=121.42.12.155;Initial Catalog=ZhuiSu_Single;User ID=ZhuiSu_SingleAdmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>