<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ZYNY_ZhuiSu-20140919090429.mdf;Initial Catalog=aspnet-ZYNY_ZhuiSu-20140919090429;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TestConnectionString" connectionString="Data Source=192.168.1.108;Initial Catalog=Test;User ID=sa;Password=lbs~123" providerName="System.Data.SqlClient" />
    <add name="ZY_ZhuiSuEntities" connectionString="metadata=res://*/Model_ZhuiSu.csdl|res://*/Model_ZhuiSu.ssdl|res://*/Model_ZhuiSu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.108;initial catalog=ZY_ZhuiSu;persist security info=True;user id=sa;password=lbs~123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectString" value="Server=iZ28optmxl2Z;Database=ZhuiSu_Single;User ID=ZhuiSu_SingleAdmin;Password=zu.!123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <!--<add key="ConnectString" value="Data Source=127.0.0.1;Initial Catalog=ZY_ZhuiSu;Persist Security Info=True;User ID=sa;Password=lbs~123;MultipleActiveResultSets=True;Application Name=EntityFramework" />-->
    
    <!--<add key="ConnectString" value="Server=.;Database=ZY_ZhuiSu;User ID=sa;Password=sa;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LoginSession" value="LoginSession" />
    <add key="hostName" value="" />
    <!--图片路径-->
    <add key="AURL" value="http://trace.fruit.ac.cn" />
    <!--<add key="AURL" value="192.168.1.103:8001" />-->
    <add key="ComURL" value="http://ent.fruit.ac.cn/Home/Index" />
    <!--<add key="ComURL" value="http://192.168.1.103:8002/Home/Index" />-->
    <add key="ProURL" value="http://ent.fruit.ac.cn/Home/Index" />
    <!--<add key="ProURL" value="http://192.168.1.103:8002/Home/Index" />-->
    <add key="AnylasisURL" value="http://t.fruit.ac.cn"/>
    <!--<add key="AnylasisURL" value="http://192.168.1.103:8003"/>-->
    <add key="ImageWidth" value="600" />
    <!--图片路径-->
    <add key="urlImg" value="http://trace.fruit.ac.cn" />
    <!--<add key="urlImg" value="http://192.168.1.103:8001" />-->
    <!--追溯平台路径-->
    <add key="urlZhuiSu" value="http://t.fruit.ac.cn" />
    <!--<add key="urlZhuiSu" value="http://192.168.1.103:8003" />-->
    <add key="urlZhuiSuNew" value="http://t.fruit.ac.cn" />
    <!--<add key="urlZhuiSuNew" value="http://192.168.1.103:8003" />-->
    <!--包装码分段最大支持个数-->
    <add key="BaoZhuangCount" value="1000" />

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
