@{
    Layout = null;
}
<div id="front">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div id="templatemo_logo">
                        @{
                            if (ViewBag.prodID > 0)
                            {
                                <h1><a rel="nofollow" href="#" title="追溯">追溯信息</a></h1>
                            }
                            else if (ViewBag.usageID > 0)
                            {
                                <h1><a rel="nofollow" href="#" title="用途码">用途码信息</a></h1>
                            }
                        }
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-4 -->
                <div class="col-md-8 col-sm-6 col-xs-6">
                    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                    <div class="main-menu">
                        @{
                            if (ViewBag.prodID > 0)
                            {
                                <ul>
                                    <li><a href="#product-promotion">产品验证</a></li>
                                    <li><a href="#products">流程追溯</a></li>
                                    <li><a href="#contact">联系企业</a></li>
                                    <li><a href="#complaint">我要投诉</a></li>
                                </ul>
                            }
                            else if (ViewBag.usageID > 0)
                            {
                                <ul>
                                    <li><a href="#product-promotion">企业用途码信息</a></li>
                                    <li><a href="#contact">联系企业</a></li>
                                </ul>
                            }
                        }
                    </div> <!-- /.main-menu -->
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="responsive">
                        <div class="main-menu">
                            @{
                                if (ViewBag.prodID > 0)
                                {
                                    <ul>
                                        <li><a href="#product-promotion">产品验证</a></li>
                                        <li><a href="#products">流程追溯</a></li>
                                        <li><a href="#contact">联系企业</a></li>
                                        <li><a href="#complaint">我要投诉</a></li>
                                    </ul>
                                }
                                else if (ViewBag.usageID > 0)
                                {
                                    <ul>
                                        <li><a href="#product-promotion">企业用途码信息</a></li>
                                        <li><a href="#contact">联系企业</a></li>
                                    </ul>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.site-header -->
</div>
<br />
<br />
<br />
<br />
<br />
