@{
    Layout = null;
}
<!-- BEGIN SIDEBAR MENU -->
<ul class="page-sidebar-menu">
    <li><div style="height:40px;"></div></li>
    <li style="margin-bottom:10px;">

        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        <div class="sidebar-toggler hidden-phone"></div>

        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

    </li>
    @Html.Raw(ViewBag.menu)


</ul>

<!-- END SIDEBAR MENU -->